:root {
  --black: #262626;
}

* {
  margin: 0;
  padding: 0;
  font-family: Manrope;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.blog a {
  position: fixed;
  font-size: 20px;
  top: 10px;
  right: 10px;
  border: 2px solid var(--black);
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  color: var(--black);
  font-weight: 600;
  z-index: 1;
}

.blog a:hover {
  background-color: var(--black);
  color: white;
  transform: scale(1.05);
  transition: all 0.2s ease-out;
}

#hub {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.information {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.info-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 20px;
}

.about {
  padding-top: 40px;

  & h1 {
    padding-left: 15px;
  }

  & p {
    padding-top: 30px;
    font-size: 13px;
  }

  & .coment {
    font-size: 12px;
    color: var(--black);
  }
}

.black-box {
  background-color: var(--black);
  color: white;
  height: 200px;
}

.black-box-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills .skills-list {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  gap: 5px;
  translate: 0 20px;
  & li {
    border: 1px solid #ffffff6f;
    font-size: 10px;
    padding: 10px 20px;
    border-radius: 20px;
  }
}

.follow-img {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transform: scale(0.85);

  translate: 0px 15px;

  filter: invert();

  & img {
    width: 15px;
    translate: 0 1px;
  }

  & a {
    padding: 7px 10px;
    border: 1px solid var(--black);
    border-radius: 30px;
  }

  & a:hover {
    filter: invert();
    background-color: #fff;
    transition: all 0.2s ease-out;
  }
}

.hub-img {
  background-color: #dbd2c2;
  color: #ffffff;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  & img {
    mix-blend-mode: multiply;
    width: 100%;
    max-width: 600px;
    filter: drop-shadow(-15px 0 0 #d0d0d0);
    position: static;
    align-self: center;
  }

  & h1 {
    padding-top: 100px;
    font-family: cursive;
    font-weight: 300;
  }
}

@media (max-width: 800px) {
  #hub {
    display: grid;
    flex-direction: column-reverse;
    height: 200vh;
  }

  .information {
    order: 1;
  }

  .information,
  .hub-img {
    width: 100%;
  }

  .hub-img img {
    width: 80%;
  }
}
